@use 'palette'

.auth-buttons
    display: flex
    gap: 1.5em
    align-items: center

    button
        position: relative
        color: palette.$darkest-grey
        padding: none
        background: none
        border: none
        background: none
        outline: none
        cursor: pointer
        font-size: 1rem

    button::after 
        content: ''
        position: absolute
        bottom: -5px
        display: block
        height: 2px
        background: palette.$darkest-grey
        transition: width 0.3s ease 0s, left 0.3s ease 0s
        width: 0
        left:50%


    button:hover:after 
        width: 100%
        left: 0
        