@use 'palette'
    
.store
    width: 100%
    padding: 2em

    .store__controller
        display: flex
        gap: 1em

        .store__search-control
            display: flex
            width: 200px
            align-items: center
            position: relative

            .store__search
                background: none
                outline: none
                border: none
                border-bottom: 1px solid palette.$darker-grey
                padding: 5px
                width: 200px
                margin-right: 1em
                &::placeholder
                    color: palette.$darker-grey
                
            .store__search-icon
                position: absolute
                right: 15px
                font-size: 0.9rem

        .store__filter
            background: none
            outline: none
            border: none
            width: 189px
            border-bottom: 1px solid palette.$darker-grey
            padding: 5px
            color: palette.$darker-grey

    .store__grid 
        padding-top: 2rem
        margin: 0 auto
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
        place-items: center
        gap: 2em

@media (max-width: '400px') 
    .store
        .store__controller

            .store__search-control
                width: 150px

                .store__search-icon
                    right: 0px
                    font-size: 0.9rem

            .store__filter
                width: 150px

            