@use 'palette'

.orders-container
    width: 350px
    min-height: 100vh
    padding-left: 5em

    .order-header
        padding-top: 1em

        a
            color: palette.$darker-grey
            text-decoration: none
            cursor: pointer

    .order-info
        padding: 2em 0
        border-bottom: 1px solid palette.$light-grey

        p 
            color: palette.$darkest-grey
            font-size: 1.1rem

            .key
                color: palette.$darker-grey
                font-size: 1rem

            .danger
                color: red