@use 'palette'



.nav-control
    display: flex
    gap: 1.5em
    align-items: center

    ul
        display: flex
        gap: 1.5em

        li
            list-style: none 
            position: relative

            a    
                text-decoration: none
                color: palette.$darkest-grey
        
        li::after 
            content: ''
            position: absolute
            bottom: -5px
            display: block
            height: 2px
            background: palette.$darkest-grey
            transition: width 0.3s ease 0s, left 0.3s ease 0s
            width: 0
            left:50%


        li:hover:after 
            width: 100%
            left: 0

            

    
