/* Error: Expected identifier.
 *   ,
 * 8 | =======
 *   |  ^
 *   '
 *   client/sass/_myOrder.sass 8:2  @use
 *   client/sass/main.sass 11:1     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a   \2577 \a 8 \2502  =======\a   \2502   ^\a   \2575 \a   client/sass/_myOrder.sass 8:2  @use\a   client/sass/main.sass 11:1     root stylesheet";
}
