/* source-sans-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/source-sans-pro-v21-latin-regular.woff2") format("woff2"), url("./typography/source-sans-pro-v21-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "GoShoegoo";
  src: url("./fonts/GOShoegoo-Goo.ttf");
  size-adjust: 200%;
}
@font-face {
  font-family: "GoShoegoo-sml";
  src: url("./fonts/GOShoegoo-Goo.ttf");
  size-adjust: 150%;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7ff;
  color: #222222;
  font: 100% "Source Sans Pro", sans-serif;
  min-height: 100vh;
  height: auto;
}

a {
  text-decoration: none;
  color: #3B3B3B;
}

li {
  list-style: none;
}

.btn {
  background: #3B3B3B;
  color: #f7f7ff;
  border-radius: 50px;
  padding: 0.5em 1.2em;
  border: none;
}

.btn-secondary {
  background: #f7f7ff;
  color: #3B3B3B;
  border-radius: 50px;
  padding: 0.4em 1em;
  border: none;
  font-size: 0.8rem;
}

.btn-tertiary {
  background: none;
  border: none;
  outline: transparent;
  color: #3B3B3B;
  cursor: pointer;
}

.danger {
  color: red;
}

.fade {
  animation: fade 0.5s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.hero .parralax-bg {
  background-color: #f7f7ff;
}

.hero__image-container {
  position: relative;
  height: 90vh;
  z-index: -1;
}
.hero__image-container .hero__image {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}
.hero__image-container .hero__title {
  position: absolute;
  top: 50%;
  right: 50%;
  font: 100% "GoShoegoo", sans-serif;
  letter-spacing: 2px;
  transform: translate(50%, 50%);
}

@media (max-width: 560px) {
  .hero__image-container .hero__title {
    text-align: center;
  }
}
.image-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.image-banner .image-banner__image {
  width: calc(50% - 1em);
  object-fit: cover;
}

@media (max-width: 450px) {
  .image-banner {
    flex-direction: column;
  }
  .image-banner .image-banner__image {
    width: 100%;
  }
}
.image-banner--vert {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.image-banner--vert .image-banner__image {
  width: calc(33% - 1em);
  object-fit: cover;
}

@media (max-width: 450px) {
  .image-banner--vert {
    gap: 5px;
  }
  .image-banner--vert .image-banner__image {
    width: 33%;
  }
}
.highlights {
  padding: 6em 2em 2em 2em;
  width: 100%;
}
.highlights:last-of-type {
  padding-bottom: 6em;
}
.highlights .highlights__heading-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.highlights .highlights__heading-flex .highlights__heading {
  font-size: 1.4rem;
}
.highlights .highlights__flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
  flex-wrap: nowrap;
  overflow-x: auto;
}

@media (max-width: 450px) {
  .highlights {
    padding: 3em 1em 1em 1em;
  }
}
.store {
  width: 100%;
  padding: 2em;
}
.store .store__grid {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  place-items: center;
  gap: 2em;
}

.product {
  min-width: 200px;
  min-height: 400px;
}
.product .product__image {
  max-width: 350px;
  width: 100%;
  height: auto;
}
.product .product__info {
  color: #3B3B3B;
}
.product .product__info.product__album {
  font-size: 1.15rem;
  color: #222222;
}
.product .product__info .product__year {
  color: #9AA5B1;
  font-size: 0.8rem;
  padding-left: 2px;
}
.product .product__cart-control {
  padding-top: 5px;
  display: flex;
  width: 100%;
}

.nav {
  display: flex;
  gap: 1.5em;
  align-items: center;
}
.nav .nav__items {
  display: flex;
  gap: 1.5em;
}
.nav .nav__items .nav__item {
  list-style: none;
  position: relative;
  cursor: pointer;
}
.nav .nav__items .nav__item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  display: block;
  height: 2px;
  background: #222222;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  left: 50%;
}
.nav .nav__items .nav__item:hover:after {
  width: 100%;
  left: 0;
}
.nav .nav__items .nav__item .auth__btn {
  background: none;
  outline: transparent;
  border: none;
  color: #3B3B3B;
  font-size: 0.9rem;
}

.header {
  position: sticky;
  top: -1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
  transition: background-color 0.3s ease-in;
}
.header--active {
  background-color: #f7f7ff;
  transition: background-color 0.3s ease-in;
}
.header .header__heading-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.header .header__heading-container .header__heading {
  font: 100% "GoShoegoo", sans-serif;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.header .header__heading-container .header__heading--active {
  opacity: 1;
}
.header .header__heading-container .heading__disclaimer {
  font-size: 0.7rem;
  color: #3B3B3B;
}
.header .header__nav {
  display: flex;
  gap: 1.5em;
}
.header .header__nav--reverse {
  flex-direction: row-reverse;
}
.header .header__nav .header__nav-btn {
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
}
.header .header__nav .header__nav-btn img {
  height: 30px;
  width: 30px;
}
.header .header__nav .header__cart-btn {
  border: 1.5px solid #222222;
  outline: none;
  background: none;
  border-radius: 50%;
  padding: 3px 5px;
  cursor: pointer;
  position: relative;
}
.header .header__nav .header__cart-btn img {
  height: 25px;
  width: 25px;
}
.header .header__nav .header__cart-btn .cart-items {
  background: #222222;
  border-radius: 50%;
  color: #f7f7ff;
  min-width: 15px;
  min-height: 15px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(25%, 25%);
}

@media (max-width: 400px) {
  .header .header__heading-container .header__heading {
    font: 100% "GoShoegoo-sml", sans-serif;
  }
}
.sidebar {
  background: #9AA5B1;
  color: #f7f7ff;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 2em;
  width: 300px;
  z-index: 2;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.3s ease-in-out;
}
.sidebar--active {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.sidebar .sidebar__close-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2em;
}
.sidebar .sidebar__close-container .sidebar__close {
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid #f7f7ff;
  border-radius: 50%;
  color: #f7f7ff;
}
.sidebar .sidebar__nav-control {
  display: flex;
  flex-direction: column;
}
.sidebar .sidebar__nav-control .sidebar__nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item:hover {
  background-color: #CFCFCF;
  color: #3B3B3B;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item a {
  color: #f7f7ff;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item a:hover {
  color: #3B3B3B;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item .auth__btn {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  color: #f7f7ff;
  font-size: 1rem;
}
.sidebar .sidebar__nav-control .sidebar__nav-items .sidebar__nav-item .auth__btn:hover {
  background-color: #CFCFCF;
  color: #3B3B3B;
}

.cart {
  background: #9AA5B1;
  color: #f7f7ff;
  position: fixed;
  width: 600px;
  top: 0;
  right: 0;
  height: 100%;
  padding: 2em;
  overflow: scroll;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.3s ease-in-out;
}
.cart--active {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.cart .cart__heading-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.cart .cart__heading-flex .cart__close {
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid #f7f7ff;
  border-radius: 50%;
  color: #f7f7ff;
}
.cart .cart__total {
  padding-top: 2em;
  width: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cart .cart__total .cart__btn {
  margin-top: 1em;
}

@media (max-width: 750px) {
  .cart {
    width: 350px;
  }
}
.cart-item-container {
  width: 100%;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
}
.cart-item-container .item-content {
  padding-bottom: 8px;
}
.cart-item-container .item-content img {
  height: 150px;
  width: 150px;
}
.cart-item-container .item-content .item-info span {
  font-size: 14px;
}
.cart-item-container .item-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.cart-item-container .item-total .price {
  font-size: 1.2rem;
}
.cart-item-container .item-total .quantity-control {
  display: flex;
  gap: 5px;
}
.cart-item-container .item-total .quantity-control .quantity-btn {
  background: none;
  color: #3B3B3B;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0;
  margin-bottom: 5px;
}
.cart-item-container .item-total .quantity-control .quantity-text {
  padding: 0 6px;
}
.cart-item-container .item-total .btn {
  color: #222222;
  border-radius: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.orders {
  width: 100%;
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
  padding-left: 1em;
}
.orders .orders__header {
  padding-top: 1em;
}
.orders .orders__btn {
  margin-top: 2em;
}

.order {
  padding: 2em 0;
  border-bottom: 1px solid #CFCFCF;
}
.order .order__info {
  color: #222222;
  font-size: 1.1rem;
}
.order .order__info .order__info-key {
  color: #3B3B3B;
  font-size: 1rem;
}

.no-order {
  padding: 3em;
}

.order-product-container {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #eaeaf1;
  border-radius: 5px;
  gap: 1em;
  width: 330px;
  margin-top: 1.5em;
}
.order-product-container img {
  height: auto;
  width: 75px;
}
.order-product-container .info p:last-of-type {
  color: #3B3B3B;
  font-size: 0.9rem;
}

.wait-indicator {
  margin: 0 5px 0 5px;
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=output.css.map */
